.machine-name {
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.areas {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

@media screen and (min-width:631px) {

    .img-roll, .img-roll2 {
        height: 40px;
        margin-left: -500px;
        margin-top: 40px;
        animation-duration: 10s;
        position: absolute;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    .img-roll{
        animation-name: bottle_roll;
        animation-delay: 3s;
    }

    .img-roll2{
        animation-name: bottle_roll2;
        animation-delay: 5s;
    }
    @keyframes bottle_roll {
        0% {
            rotate: 0deg;
            margin-left: -500px;
            margin-top: 40px;
            visibility: visible;
        }

        25% {
            rotate: 0deg;
            margin-left: -220px;
            margin-top: 40px;
            visibility: hidden;
        }

        50% {
            rotate: 0deg;
            margin-left: 0px;
            margin-top: 40px;
            visibility: hidden;
        }

        75% {
            rotate: 0deg;
            margin-left: 240px;
            margin-top: 40px;
            visibility: visible;
        }

        100% {
            rotate: 360deg;
            margin-left: 500px;
            margin-top: 220px;
            visibility: visible;
        }
    }

    @keyframes bottle_roll2 {
        0% {
            rotate: 0deg;
            margin-left: -500px;
            margin-top: 40px;
            visibility: visible;
        }

        25% {
            rotate: 0deg;
            margin-left: -220px;
            margin-top: 40px;
            visibility: hidden;
        }

        50% {
            rotate: 0deg;
            margin-left: -40px;
            margin-top: 40px;
            visibility: hidden;
        }

        75% {
            rotate: 0deg;
            margin-left: 240px;
            margin-top: 40px;
            visibility: visible;
        }

        100% {
            rotate: 360deg;
            margin-left: 350px;
            margin-top: 220px;
            visibility: visible;
        }
    }
}

@media screen and (min-width:513px) and (max-width:630px) {
    .suka_img {
        width: 600px;
    }

    .img-roll, .img-roll2 {
        height: 40px;
        margin-left: -420px;
        margin-top: 40px;
        animation-duration: 6s;
        position: absolute;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    .img-roll{
        animation-name: bottle_roll;
        animation-delay: 3s;
    }
    .img-roll2{
        animation-name: bottle_roll2;
        animation-delay: 5s;
    }

    @keyframes bottle_roll {
        0% {
            rotate: 0deg;
            margin-left: -420px;
            margin-top: 40px;
            visibility: visible;
        }

        25% {
            rotate: 0deg;
            margin-left: -220px;
            margin-top: 40px;
            visibility: hidden;
        }

        50% {
            rotate: 0deg;
            margin-left: 0px;
            margin-top: 40px;
            visibility: hidden;
        }

        75% {
            rotate: 0deg;
            margin-left: 240px;
            margin-top: 40px;
            visibility: visible;
        }

        100% {
            rotate: 360deg;
            margin-left: 500px;
            margin-top: 220px;
            visibility: visible;
        }
    }

    @keyframes bottle_roll2 {
        0% {
            rotate: 0deg;
            margin-left: -420px;
            margin-top: 40px;
            visibility: visible;
        }

        25% {
            rotate: 0deg;
            margin-left: -170px;
            margin-top: 40px;
            visibility: hidden;
        }

        50% {
            rotate: 0deg;
            margin-left: -40px;
            margin-top: 40px;
            visibility: hidden;
        }

        75% {
            rotate: 0deg;
            margin-left: 240px;
            margin-top: 40px;
            visibility: visible;
        }

        100% {
            rotate: 360deg;
            margin-left: 350px;
            margin-top: 220px;
            visibility: visible;
        }
    }
}

@media screen and (min-width:376px) and (max-width:512px) {
    .suka_img {
        width: 400px;
    }

    .img-roll, .img-roll2 {
        height: 30px;
        margin-left: -320px;
        margin-top: 20px;
        animation-name: bottle_roll;
        animation-duration: 10s;
        position: absolute;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    .img-roll{
        animation-name: bottle_roll;
        animation-delay: 3s;
    }
    .img-roll2{
        animation-name: bottle_roll2;
        animation-delay: 6s;
    }

    @keyframes bottle_roll {
        0% {
            rotate: 0deg;
            margin-left: -320px;
            margin-top: 20px;
            visibility: visible;
        }

        25% {
            rotate: 0deg;
            margin-left: -140px;
            margin-top: 20px;
            visibility: hidden;
        }

        50% {
            rotate: 0deg;
            margin-left: 0px;
            margin-top: 20px;
            visibility: hidden;
        }

        75% {
            rotate: 0deg;
            margin-left: 140px;
            margin-top: 20px;
            visibility: visible;
        }

        100% {
            rotate: 360deg;
            margin-left: 300px;
            margin-top: 100px;
            visibility: visible;
        }
    }

    @keyframes bottle_roll2 {
        0% {
            rotate: 0deg;
            margin-left: -320px;
            margin-top: 10px;
            visibility: visible;
        }

        25% {
            rotate: 0deg;
            margin-left: -120px;
            margin-top: 10px;
            visibility: hidden;
        }

        50% {
            rotate: 0deg;
            margin-left: 0px;
            margin-top: 10px;
            visibility: hidden;
        }

        75% {
            rotate: 0deg;
            margin-left: 140px;
            margin-top: 10px;
            visibility: visible;
        }

        100% {
            rotate: 360deg;
            margin-left: 200px;
            margin-top: 100px;
            visibility: visible;
        }
    }
}


@media screen and (min-width:361px) and (max-width:375px) {
    .suka_img {
        width: 360px;
        margin-left: -40px;
    }

    .img-roll, .img-roll2 {
        height: 30px;
        margin-left: -300px;
        margin-top: 10px;
        animation-name: bottle_roll;
        animation-duration: 10s;
        position: absolute;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
    .img-roll{
        animation-name: bottle_roll;
        animation-delay: 3s;
    }
    .img-roll2{
        animation-name: bottle_roll2;
        animation-delay: 6s;
    }
    @keyframes bottle_roll {
        0% {
            rotate: 0deg;
            margin-left: -300px;
            margin-top: 10px;
            visibility: visible;
        }

        25% {
            rotate: 0deg;
            margin-left: -160px;
            margin-top: 10px;
            visibility: hidden;
        }

        50% {
            rotate: 0deg;
            margin-left: -20px;
            margin-top: 10px;
            visibility: hidden;
        }

        75% {
            rotate: 0deg;
            margin-left: 100px;
            margin-top: 10px;
            visibility: visible;
        }

        100% {
            rotate: 360deg;
            margin-left: 220px;
            margin-top: 100px;
            visibility: visible;
        }
    }

    @keyframes bottle_roll2 {
        0% {
            rotate: 0deg;
            margin-left: -300px;
            margin-top: 10px;
            visibility: visible;
        }

        25% {
            rotate: 0deg;
            margin-left: -160px;
            margin-top: 10px;
            visibility: hidden;
        }

        50% {
            rotate: 0deg;
            margin-left: 0px;
            margin-top: 10px;
            visibility: hidden;
        }

        75% {
            rotate: 0deg;
            margin-left: 100px;
            margin-top: 10px;
            visibility: visible;
        }

        100% {
            rotate: 360deg;
            margin-left: 160px;
            margin-top: 120px;
            visibility: visible;
        }
    }
}

@media screen and (max-width:360px) {
    .suka_img {
        width: 320px;
        margin-left: -50px;
    }

    .img-roll, .img-roll2 {
        height: 30px;
        margin-left: -300px;
        margin-top: 15px;
        animation-name: bottle_roll;
        animation-duration: 10s;
        position: absolute;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
    .img-roll{
        animation-name: bottle_roll;
        animation-delay: 3s;
    }
    .img-roll2{
        animation-name: bottle_roll2;
        animation-delay: 6s;
    }
    @keyframes bottle_roll {
        0% {
            rotate: 0deg;
            margin-left: -300px;
            margin-top: 15px;
            visibility: visible;
        }

        25% {
            rotate: 0deg;
            margin-left: -160px;
            margin-top: 15px;
            visibility: hidden;
        }

        50% {
            rotate: 0deg;
            margin-left: -60px;
            margin-top: 15px;
            visibility: hidden;
        }

        75% {
            rotate: 0deg;
            margin-left: 50px;
            margin-top: 15px;
            visibility: visible;
        }

        100% {
            rotate: 360deg;
            margin-left: 200px;
            margin-top: 65px;
            visibility: visible;
        }
    }

    @keyframes bottle_roll2 {
        0% {
            rotate: 0deg;
            margin-left: -300px;
            margin-top: 15px;
            visibility: visible;
        }

        25% {
            rotate: 0deg;
            margin-left: -160px;
            margin-top: 15px;
            visibility: hidden;
        }

        50% {
            rotate: 0deg;
            margin-left: -60px;
            margin-top: 15px;
            visibility: hidden;
        }

        75% {
            rotate: 0deg;
            margin-left: 60px;
            margin-top: 15px;
            visibility: visible;
        }

        100% {
            rotate: 360deg;
            margin-left: 100px;
            margin-top: 85px;
            visibility: visible;
        }
    }
}

