<div class="page">
  <!-- <div class="machine-name">
    <p>SUK-AL-V3-2.0-10043 - SUKA_ALL - Session Information</p>
  </div>
  <div class="areas">
    <p>Session Sorting</p>
    <p>Session Monitoring</p>
    <p>Unknown Analytics</p>
    <p>Logs</p>
  </div>

  <div class="data">
    <img src="/assets/machine.png"/>
  </div> -->
  
  <div class="images" #imgContainer>
    <img src="/assets/bottle.png" class="img-roll"/>
    <img src="/assets/bottle.png" class="img-roll2"/>
    <img src="/assets/suka.png" class="suka_img"/>
    <!-- <img src="/assets/bottle.png" class="img"/>
    <img src="/assets/bottle.png" class="img2"/> -->
  </div>
  <span>{{countEjected}}</span>
  
</div>
<button (click)="ejectedCount()">ejected</button>
<button (click)="rejectedCount()">rejected</button>
<span>{{countRejected}}</span>




